<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>IOT Board</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />

  <!-- add iotboard common css and js in the first place -->
  <link rel="stylesheet" href="/iotboard/iotboard.min.css" media="screen" type="text/css" />
  <script src="/iotboard/iotboard.min.js"></script>

  <!-- add widgets css and js files here -->
  <link rel="stylesheet" href="/iotboard/widgets.min.css" media="screen" type="text/css" />
  <script src="/iotboard/widgets.min.js"></script>
  <!-- -->

  <!-- model to use here -->
  <% if(from=='ide') { %>
  <script src="/iotboard/dummy.model.min.js"></script>
  <% } else {%>
  <script src="/iotboard/freeiot.model.min.js"></script>
  <% } %>
  <!-- -->
</head>
<body>
  <% if( config.objects ) { 
    for(var i=0; i<config.objects.length; i++) {
    var object = config.objects[i];
    if(objects[object.id]){
  %>
  <div class="widget" iotb-widget="<%=objects[object.id].label%>" data-label="<%=object.label%>" data-title="<%=object.label%>"></div>
  <% } else {%>
  <div class="widget" iotb-widget="default" data-label="<%=object.label%>" data-title="<%=object.label%>" data-config='<%=JSON.stringify(object.status)%>'></div>
  <% }%>
  <% } %>
  <% } %>
</body>
</html>
